body {
  margin: 0;
  /* background-color: #222; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon {
  width: 19px;
  height: 19px;
}

.main-container {
  width: 100%;
  height: calc(100vh - 29px);
  display: flex;
  align-items: center;
  justify-content: center
}

.h-100 {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.theme-switch {
  margin: 1rem;
}

.leaflet-container {
  height: calc(100vh - 28px);
  width: 100%;
  filter: grayscale(0);
}

.leaflet-web {
  height: 100vh !important;
}

.pb-0, .pb-0 .row {
  padding-bottom: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.mt-1 {
  margin-top: 1rem !important;
}